
.overLay{
    width: 50%;
    height: 200px;
    background-color: white;
    color: black;
    padding: 2% 2%;
}
.overLay p{
    margin-bottom: 5px;
}
.amount{
    display: flex;
    justify-content: space-between ;
    margin-top: 14px;
    margin-bottom: 20px;
}
.amountDetails{
    display: flex;
    margin-bottom: 20px;
}
.amountDetails h2{
    margin-right: 20px;
}
.amountDetailsBtn{
    padding: 5px 15px;
    font-size: 1rem;
    border: 1px solid #0b1432;
    border-radius: 15px;
    cursor: pointer;

}
.btnContainer{
    display: flex;
    justify-content: flex-end;
}
.orderButton{
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #0b1432;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: green;
}
.cancelButton{
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #0b1432;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: red;
}
