
.overLay{
    width: 50%;
    background-color: white;
    color: black;
    padding: 2% 2%;
    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overLay p{
    margin-bottom: 5px;
}
.overLay hr{
    border: none;
    border-bottom:1px solid #8a2b06 ;
}
.amount{
    display: flex;
    justify-content: space-between ;
    margin-top: 14px;
    margin-bottom: 10px;
}
.itemName{
    margin-bottom: 5px;
}
.itemNameContainer p{
    font-size: 15px;
}
.itemNameContainer span{
    font-weight: bold;
    padding: 1px 4px;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 2px;
}
.amountDetails{
    display: flex;
    margin-bottom: 20px;
}
.amountDetails h2{
    margin-right: 20px;
}
.amountDetailsBtn{
    padding: 5px 15px;
    margin: 0 2px;
    font-size: 1rem;
    border: 1px solid #0b1432;
    border-radius: 10px;
    cursor: pointer;

}
.totalAmount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size:1.3rem;
}
.btnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.orderButton{
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #0b1432;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: green;
}
.cancelButton{
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #0b1432;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: red;
}
