.backDrop{
    width: 100vw;
    height: 100vh;
    background-color: #000000aa;
    position: fixed;
    z-index: 100;
}
.overLayFlex{
    width: 90vw;
    height: 100vh;
    position: absolute;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
}